@page "/ProduktDetail/{id:int}"
@inject IProduktServices _ProduktServices
@inject NavigationManager Navigation

<h3>ProduktDetail</h3>
@Produkt.ProduktName
@Produkt.Price
@Produkt.ImageUrl
@Produkt.BrandName
@Produkt.TypeName
@Produkt.Description
@code {
    [Parameter]
    public int id { get; set; } = 0;

    public ProduktShown Produkt { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            Produkt = await _ProduktServices.GetProduktShownAsync(id);
        }
        await base.OnInitializedAsync();
    }
}
